.main {
    padding: 0;
}
.mat-card {
    box-shadow: unset !important;
}
::ng-deep .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: unset;
    border-bottom: solid 1px #E4E4E4;
    &:last-child {
        border-bottom: unset;
    }
}
