<mat-card class="main">
  <app-node 
    *ngIf="onEditOrAdd" 
    [cloneSelected]="cloneSelectedNode" 
    [getParentNode]="parentOfSelectedNode"
    [getPathNode]="pathNode" 
    [oldNode]="node"
    [getProgram]="transferPrograms"
    [actionMenu]="actionOnContextMenu">
  </app-node>
  <app-real 
    *ngIf="nodeType === 'real'" 
    [cloneSelected]="cloneSelectedNode" 
    [getParentNode]="parentOfSelectedNode"
    [getPathNode]="pathNode" 
    [getProgram]="transferPrograms"
    [actionMenu]="actionOnContextMenu"
    [oldNode]="node">
  </app-real>
  <app-real-write 
    *ngIf="nodeType === 'real-write'" 
    [cloneSelected]="cloneSelectedNode" 
    [getParentNode]="parentOfSelectedNode"
    [getPathNode]="pathNode" 
    [getProgram]="transferPrograms"
    [actionMenu]="actionOnContextMenu"
    [oldNode]="node">
  </app-real-write>
  <app-state 
    *ngIf="nodeType === 'state'" 
    [cloneSelected]="cloneSelectedNode" 
    [getParentNode]="parentOfSelectedNode"
    [getPathNode]="pathNode" 
    [getProgram]="transferPrograms"
    [actionMenu]="actionOnContextMenu"
    [oldNode]="node">
  </app-state>
  <app-dint 
    *ngIf="nodeType === 'dint'" 
    [cloneSelected]="cloneSelectedNode" 
    [getParentNode]="parentOfSelectedNode"
    [getPathNode]="pathNode" 
    [getProgram]="transferPrograms"
    [actionMenu]="actionOnContextMenu"
    [oldNode]="node">
  </app-dint>
  <app-dint-write 
    *ngIf="nodeType === 'dint-write'" 
    [cloneSelected]="cloneSelectedNode" 
    [getParentNode]="parentOfSelectedNode"
    [getPathNode]="pathNode" 
    [getProgram]="transferPrograms"
    [actionMenu]="actionOnContextMenu"
    [oldNode]="node">
  </app-dint-write>
  <app-string 
    *ngIf="nodeType === 'string'" 
    [cloneSelected]="cloneSelectedNode" 
    [getParentNode]="parentOfSelectedNode"
    [getPathNode]="pathNode" 
    [getProgram]="transferPrograms"
    [actionMenu]="actionOnContextMenu"
    [oldNode]="node">
  </app-string>
</mat-card>