<form #nodeForm="ngForm">
  <mat-card class="first-block">
    <div class="name">
      <p>Location in code</p>
      <p>{{node.sProgram}}</p>
    </div>
    <div class="tagname">
      <mat-form-field class="example-full-width input">
          <input 
          matInput
          placeholder="Tag Name"
          type="text" 
          name="tagname" 
          style="font-size:16px"
          [disabled]="tagnameDisable ? '' : null" 
          [(ngModel)]="cloneSelectedNode.TagName"
          pattern="^[A-Za-z_][A-Za-z0-9]{0,39}$"
          id="tagname"
          maxlength="40"
          required >
      </mat-form-field>
      <p class="paragraph-error tagNameLabelError err" *ngIf="nodeFrm.controls.tagname?.invalid && nodeFrm.controls.tagname?.touched">
        First letter must be letter or _. You can type letters and numbers.
      </p>
    </div>
  </mat-card>
  <mat-card class="second-block">
    <div class="model">
      <p>Position in model</p>
      <p>{{ pathNode}}</p>
    </div>
    <div class="nameinmodel">
      <mat-form-field class="example-full-width input">
          <input 
          matInput
          placeholder="Name in model"
          type="text" 
          name="label" 
          style="font-size:16px"
          [(ngModel)]="cloneSelectedNode.label"
          pattern="^[A-Za-z_][A-Za-z0-9]{0,39}$"
          id="tagname"
          maxlength="40"
          required >
      </mat-form-field>
      <p class="paragraph-error tagNameLabelError err" *ngIf="nodeFrm.controls.label?.invalid && nodeFrm.controls.label?.touched">
        First letter must be letter or _. You can type letters and numbers.
      </p>
    </div>
  </mat-card>
  <mat-card class="infomation-type" >
    <div class="type" >
      <p>Infomation attributes</p>
      <div class="checkbox">
          <ng-container 
          *ngFor="let item of typesOfCheckboxes; let i = index">
            <mat-checkbox
            [ngModelOptions]="{standalone: true}"
            color="primary"
            [(ngModel)]="item.selected"
            [checked]="item.selected"
            (change)="getFunctions()"
            >
            {{item.Name}}
          </mat-checkbox>
        </ng-container>
      </div>
    </div>
    <div class="radio-block">
      <p class="update">Updated by</p>
      <div class="group">
        <div class="radio">
          <mat-form-field class="update">
            <mat-select style="color:black" [(value)]="cloneSelectedNode.updateRadio" (selectionChange)="clickOnRadio($event)">
              <mat-option *ngFor="let item of arrayOfRadioBtns" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="group-2">
          <div>
            <mat-form-field class="UpdateRate input">
                <input 
                matInput
                placeholder="UpdateRate"
                type="number" 
                name="updateRate" 
                pattern="^\d*[0-9.]\d*$"
                required
                [value]="cloneSelectedNode.updateRate" 
                [(ngModel)]="cloneSelectedNode.updateRate" 
                [attr.disabled]="inputDisable ? '' : null"
                min="0"
                (change)="getCurrentValue($event)"
                (keydown)="removeMinus($event, 1)" >
            </mat-form-field>
            <p class="paragraph-error updateRateError err" *ngIf="nodeFrm.controls.updateRate?.status === 'INVALID'">
              Required!<br>Only positive or 0!
            </p>
          </div>
          <div>
              <mat-select 
              [ngModelOptions]="{standalone: true}"
              (selectionChange)="getOptionTime($event)" 
              placeholder="Type of time"  
              [(ngModel)]="timeDefault" >
              <mat-option *ngFor="let item of times" [value]="item">{{item}}</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="select">
    <div class="mat-select-center">
      <mat-form-field class="routineProgramselect">
          <mat-select 
          id="matSelect1"
          [disabled]="programNameDisabled"  
          name="sProgram" 
          placeholder="Programs" 
          style="color:black" 
          [(ngModel)]="cloneSelectedNode.sProgram" 
          required="isRequired ? '' : null"
          >
            <mat-option  *ngFor="let item of programs" [value]="item">{{item}}</mat-option>
          </mat-select>
      </mat-form-field>
      <p *ngIf="nodeFrm.controls.sProgram?.status === 'INVALID' && nodeFrm.controls.sProgram?.touched"
      class="paragraph-error err">
        Required!
      </p>
    </div>
    <div class="mat-select-center">
      <mat-form-field class="routineProgramselect">
          <mat-select 
          [disabled]="routineDisabled" 
          placeholder="Routines" style="color:black" 
          [(ngModel)]="routineDefault" 
          name="routine" 
          required="isRequired ? '' : null">
          <mat-option *ngFor="let item of routines " [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="nodeFrm.controls.routine?.status === 'INVALID' && nodeFrm.controls.routine?.touched"
      class="paragraph-error err">
        Required!
      </p>
    </div>
    <div class="inputs">
      <div>
          <mat-form-field class="UpdateRate">          
              <input 
              matInput
              placeholder="Rung"
              type="number"
              pattern="^\d*[0-9]\d*$"
              name="rung" 
              [value]="cloneSelectedNode.rung" 
              [(ngModel)]="cloneSelectedNode.rung" 
              (keydown)="removeMinus($event, 2)"
              min="0"
              id="rung" 
              required="isRequired ? '' : null"
              [disabled]="!isRequired" >
            </mat-form-field>
        <p class="paragraph-error rungError err" *ngIf="nodeFrm.controls.rung?.status === 'INVALID'">
          Required!<br>Only positive or 0!
        </p>
      </div>
    </div>
  </mat-card>
</form>