<section class="home">
  <section class="info-bar">
    <app-info-bar 
    [SelectedNode]="selectedItem" 
    [status]="statusOfController" 
    [pathSelectedItem]="pathSelectedItem"></app-info-bar>
  </section>
  <section class="message-bar">
    <app-message-bar></app-message-bar>
  </section>
  <section class="menu-bar">
    <app-menu 
    (contentSelected)="selectedContent($event)"  
    (onReconnect)="onReconnecting($event)"  
    [actionOnClicked]="operationOnForm"
    [onReconnectLoading]="onBlocking"
    [onOfflineDisableBtn]="onDisableBtn"
    [onOfflineHideAoi]="onHideAoi"
    [onShowedAOI]="showAOITab"
    [disableBtnOnError]="disableBtnOfMenu"></app-menu>
  </section>
  <section class="content">
    <div class="block2">
      <div class="tabcontent" [class.activeTab]="showTabTree">
        <app-model-tree 
        [dataForm]="operationOnForm" 
        [newElementId] = "elementId"
        (actionContextMenuChanged)="actionMenu($event)"
        (itemSelected)="getNode($event)" 
        [CheckStatusOfController]="checkStatus"
        (transferTree)="getTree($event)"
        (showAOIMsg)="showNewMsg($event)"
        (showAOI)="onShowAOI($event)"
        [onReconnectLoading]="onLoading"
        ></app-model-tree>
      </div>

      <div class="tabcontent" [class.activeTab]="showTabOperation">
        <app-smart-tag-editor 
        [getAllPrograms]="programsAndRoutines"
        (pathSelectedNode)="getPath($event)"
        [modifiedNode]="operationOnForm" 
        [SelectedSmartTag]="selectedItem" 
        [Tree]="treeModel" 
        [actionMenu]="actionContextMenu">
        </app-smart-tag-editor>
      </div>
      <div class="tabcontent" [class.activeTab]="showTabAOI">
        <app-aoi-editor 
        [newElementId] = "elementId"
        [loadedAoi]="responseAoi"
        [dataForm]="operationOnForm" 
        (actionContextMenuChanged)="actionMenu($event)"
        (itemSelected)="getNode($event)"
        [onActiveAOI]="showAOITab" 
        (transferTree)="getTree($event)"
        (transferTreePost)="getTreeOnPost($event)"
        (showAOI)="onShowAOI($event)"
        >
        </app-aoi-editor>
      </div>
    </div>
  </section>
  <section class="control-bar">
    <app-control-bar 
    [TreeOnPost]="treeModelPost" 
    (submitForm)="onSubmitted($event)"
    [changesAllowed]="isChangesAllowed"
    (showMsgChangesNotAllowed)="onChangesNotAllowed()"
    [selectedContent]="showBtn"></app-control-bar>
  </section>
</section>

<app-dialog 
class="dialog" 
(postController)="getChosenController($event)" 
[manageOfMessageBox]="onShowInfoMsg" 
[getAllPrograms]="programsAndRoutines"
[IsInsert]="false"
(prepareForm)="initForm()"
(responseVerify)="verifyingChosenController($event)">
  <app-dialog>