.container {
    height: 30px;
}
.timeline {
    width: -webkit-fill-available;
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 5px;
}
.timelineSuccess {
    background-color: #80C46E;
    color: white;
    display: flex;
    p {
        width: 15px;
    }
}
.timelineError {
    background: #DCC1C1;
    color: #862f2f;
}
.timelineStarted {
    color: #6d6d6d;
    background: lightgray;
}