div.scroll {
    padding: 25px;
    margin-bottom: 25px;
    // width: 80%;
    width: 100%;
    flex-grow: 1;
}
.wrap {
    display: flex;
}
.wrap-edit {
    width: 100px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}
.editing {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
mat-form-field {
    max-width: 100px;
    width: 100%;
}

.menu:before {
    content: "›";
    position: absolute;
    right: 5px;
    font-size: 30px;
    top: -4px;
}

.menu.empty-menu:before {
    content: "";
}