<div class="spinner" *ngIf="visibleBlock">
  <mat-spinner></mat-spinner>
</div>
<!-- <div class="wrap" > -->
<div class="wrap" *ngIf="!visibleBlock">
  <div class="scroll">
    <!-- to scroll -->
    <!-- [ngStyle]="{'width': nodeTree?.InternalIndex == 32 ? '80%':'100%' }" -->
    <ra-ui-tree class="model" [contextMenu]="basicMenu" [contextMenuSubject]="selectedNode" [(tree)]="treeModel"
      (dblclick)="onDblClick('model')" (mouseover)="showTooltip($event)" (mouseout)="hideTooltip($event)"
      [config]="config" (treeNodeSelected)="onTreeNodeSelected($event)"
      (treeInitialized)="onTreeInitialized($event, 'model')">
      <ng-template #node let-data="model">
        <div class="ra-tree-template">
          <p [ngClass]="{'aoi': data.isAoi == true }">{{data.label}}</p>
          <p class="label-info">{{data.labelInfo}}</p>
        </div>
      </ng-template>
    </ra-ui-tree>
    <div class="unknown-nodes">
      <p class="unknown-nodes-p">Unknown elements:</p>
      <ra-ui-tree class="model" [contextMenu]="UnknownMenu" [contextMenuSubject]="selectedBrokenNode"
        [(tree)]="unKnownNodes" [config]="config" (treeNodeSelected)="onTreeUnknownNodeSelected($event)"
        (treeInitialized)="onTreeInitialized($event,'unknown')">
        <ng-template #node let-data="model">
          <div class="ra-tree-template">
            <p>{{data.label}}</p>
          </div>
        </ng-template>
      </ra-ui-tree>
    </div>
  </div>
</div>
<context-menu #basicMenu>
  <ng-template contextMenuItem [subMenu]="someSubMenu" [visible]="showContext"> <span class="menu">Add</span>
  </ng-template>
  <ng-template contextMenuItem [subMenu]="subMenuAOI" [visible]="showContext"><span (mouseenter)="onHover()"
      class="menu" [class.empty-menu]="checkedStatus">AOI</span></ng-template>
  <ng-template contextMenuItem [visible]="showContext" (execute)="addUnknownNode()">
    <span class="menu" [class.empty-menu]="true" >Add unknown element</span>
  </ng-template>
  <context-menu #someSubMenu class="item-menu-cont" id="item-menu-cont">
    <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('node', 'model')"> <i
        class="ra-icon ra-icon-folder"></i>
      <p>Node</p>
    </ng-template>
    <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('real', 'model')"> <i
        class="ra-icon ra-icon-gauge"></i>
      <p>Real</p>
    </ng-template>
    <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('real-write', 'model')"> <i
        class="ra-icon ra-icon-add-examples"></i>
      <p>Real Write</p>
    </ng-template>
    <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('state', 'model')"><i
        class="ra-icon ra-icon-network-resources"></i>
      <p>State</p>
    </ng-template>
    <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('dint', 'model')"> <i
        class="ra-icon ra-icon-data-type"></i>
      <p>Dint</p>
    </ng-template>
    <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('dint-write', 'model')"> <i
        class="ra-icon ra-icon-data-server"></i>
      <p>Dint Write</p>
    </ng-template>
    <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('string', 'model')"> <i
        class="ra-icon ra-icon-text-editor"></i>
      <p>String</p>
    </ng-template>
  </context-menu>
  <context-menu #subMenuAOI>
    <ng-template contextMenuItem [subMenu]="subMenuAoiActions" [visible]="checkedStatus" *ngFor="let item of listOfAOI">
      <i (mouseenter)="param = item" class="ra-icon ra-icon-dashboard"></i>
      <p (mouseenter)="param = item">{{item}}</p>
    </ng-template>
    <context-menu #subMenuAoiActions>
      <ng-template contextMenuItem (execute)="editAoi(param)">
        <p>Edit</p>
      </ng-template>
      <ng-template contextMenuItem (execute)="insertAoi(param)">
        <p>Insert</p>
      </ng-template>
    </context-menu>
  </context-menu>
</context-menu>
<!-- <context-menu #UnknownMenu>
  <ng-template contextMenuItem [subMenu]="subMenuUnknown"><span class="menu">Add to Parent</span></ng-template>

  <context-menu #subMenuUnknown>
    <ng-template contextMenuItem (execute)="addUnknownNode(node)" *ngFor="let node of listOfNode">
      <p>{{node.label}}</p>
    </ng-template>
  </context-menu>
</context-menu> -->

<app-dialog class="dialog" (postController)="getChosenController($event)" [manageOfMessageBox]="onShowInfoMsg"
  [IsInsert]="true" [getAllPrograms]="programsAndRoutines" (responseVerify)="prepareInsertAoi($event)"
  [showInsert]="true">
  <app-dialog>