<!-- <div class="spinner" *ngIf="visibleBlock">
  <mat-spinner></mat-spinner>
</div> -->
<div class="wrap" >
  <!-- <div class="wrap" *ngIf="!visibleBlock"> -->
    <div class="scroll"
    >
    <!-- to scroll -->
    <!-- [ngStyle]="{'width': nodeTree?.InternalIndex == 32 ? '80%':'100%' }" -->
      <ra-ui-tree 
      [contextMenu]="basicMenu2" 
      [contextMenuSubject]="selectedNode"
      (dblclick)="onDblClick('aoi')"
      [(tree)]="treeModel" 
      [config]="config"
      (treeNodeSelected)="onTreeNodeSelected($event)"
      (treeInitialized)="onTreeInitialized($event)">
        <ng-template #node let-data="model">
          <div class="ra-tree-template"> 
            <p>{{data.label}}</p>
            <p class="label-info">{{data.labelInfo}}</p>
          </div>
        </ng-template>
      </ra-ui-tree>
    </div>

  </div>
  <context-menu #basicMenu2 >
    <ng-template contextMenuItem [subMenu]="someSubMenu" [visible]="showContext"> <span class="menu">Add</span> </ng-template>
    <context-menu #someSubMenu class="item-menu-cont" id="item-menu-cont">
      <ng-template  contextMenuItem [visible]="showContext" (execute)="contextMenuType('node', 'aoi')"> <i class="ra-icon ra-icon-folder"></i> <p>Node</p> </ng-template>
      <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('real', 'aoi')"> <i class="ra-icon ra-icon-gauge"></i> <p>Real</p> </ng-template>
      <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('state', 'aoi')"><i class="ra-icon ra-icon-network-resources"></i> <p>State</p> </ng-template>
      <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('dint', 'aoi')"> <i class="ra-icon ra-icon-data-type"></i> <p>Dint</p> </ng-template>
      <ng-template contextMenuItem [visible]="showContext" (execute)="contextMenuType('string', 'aoi')"> <i class="ra-icon ra-icon-text-editor"></i> <p>String</p></ng-template>
    </context-menu>
  </context-menu>