<div class="container">
  <div class="block1">
    <div class="tab">
      <p>general</p>
      <button  color="primary"  (click)="Reconnect()" [disabled]="blockOnConnecting" [class.disableBtn]="blockOnConnecting">Reconnect</button>
      <button  color="primary" [matMenuTriggerFor]="model" [disabled]="disableBtnOnError" [class.disableBtn]="disableBtnOnError">Model</button>
      <mat-menu #model="matMenu" ng-reflect-position="above" [class.menu-top]="true">
        <button mat-menu-item [matMenuTriggerFor]="CollectData">CollectData</button>
        <button mat-menu-item (click)="saveToHdrive()">Save to Hdrive</button>
      </mat-menu>
      <mat-menu #CollectData="matMenu">
        <button mat-menu-item [class.active]="active === true" [disabled]="active" (click)="collectData(true)">On</button>
        <button mat-menu-item [class.active]="active  === false" [disabled]="!active" (click)="collectData(false)">Off</button>
      </mat-menu>
      <p>Configuration</p>
      <button class="tablinks" [class.active]="showTabTree" (click)="openTab('model-tree')" [disabled]="disableBtn">Model</button>
      <button class="tablinks" [class.active]="showTabOperation" *ngIf="!hideForm" (click)="openTab('smart-tag-editor')" [disabled]="disableBtn">Smart Tag</button>
      <button class="tablinks" [class.active]="showTabAOI" (click)="openTab('aoi')" [disabled]="disableBtn" *ngIf="!hideAoi" >AOI</button>
    </div>
  </div>
</div>