* {
    font-family: 'Roboto'; 
}
.container {
    height: 90px;
    color: white;
    background-color: #676767;
    display: flex;
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 300px;
        width: 300px;
        h1 {
            overflow-x: hidden;
            &:first-child {
                font-size: 24px;
            }
            margin: 0;
            padding-left: 15px;
            font-weight: 100;
            font-size: 16px;
            span {
                width: 100px;
                display: inline-block;
            }
        }
        h1:last-child {
            span {
                width: 102px;
            }
        }
    }
    .path {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 55%;
        width: 100%;
        h1 {
            font-weight: 100;
            span {
                &:first-child {
                   font-size: 18px;
                   color: lawngreen;
                }
            }
        }
    } 
    .status {
        position: fixed;
        right: 25px;
        top: 35px;
        mat-checkbox {
            margin-left: 25px;
        }
        
    }
}
.online {
    color: #12ff12;
}
.offline {
    color: #fff;
}