<form #nodeForm="ngForm">
    <div class="readonly" *ngIf="cloneSelectedNode.isInjected"></div>
    <mat-card class="first-block">
      <div class="tagname">
        <mat-form-field class="example-full-width input">          
          <input 
          matInput
          placeholder="Tag Name"
          type="text" 
          name="tagname" 
          style="font-size:16px"
          [disabled]="tagnameDisable ? '' : null" 
          [(ngModel)]="cloneSelectedNode.TagName"
          [pattern]="testNamePattern"
          id="tagname"
          maxlength="40"
          required >
        </mat-form-field>
        <p class="paragraph-error ErrorTagNameInModelState err" *ngIf="nodeFrm.controls.tagname?.errors?.pattern && nodeFrm.controls.tagname?.touched">
            First letter must be letter or _. You can type letters and numbers.
        </p>
      </div>
      <div class="nameinmodel">
          <mat-form-field class="example-full-width input">          
            <input 
            matInput
            placeholder="Name in model"
            type="text" 
            name="label" 
            style="font-size:16px"
            validateName
            [dataNode]="getParentNode"
            [(ngModel)]="cloneSelectedNode.labelEdit"
            [pattern]="testNamePattern"
            id="tagname"
            maxlength="40"
            required >
          </mat-form-field>
          <p class="paragraph-error ErrorTagNameInModelState err" *ngIf="nodeFrm.controls.label?.errors?.pattern && nodeFrm.controls.label?.touched">
              First letter must be letter or _. You can type letters and numbers.
          </p>
          <p class="paragraph-error tagNameLabelError err" *ngIf="nodeFrm.controls.label?.errors?.sameName && nodeFrm.controls.label?.touched">
            This name already exist!
          </p>
        </div>
    </mat-card>
    <mat-card class="other-options">
      <div class="select-property">
        <mat-form-field >
          <mat-select placeholder="Value type" style="color:black" name="ValueTypeDint" (selectionChange)="updateValueType($event)" [(ngModel)]="defaultValueType">
            <mat-option *ngFor="let item of ValueTypeStateDint" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input">          
            <input 
            matInput
            placeholder="Engineering Units"
            type="text" 
            name="EU"  
            required 
            [value]="cloneSelectedNode.EU" 
            [(ngModel)]="cloneSelectedNode.EU"
            >
          </mat-form-field>
      </div>
      <div class="value-percent">
        <div>
          <mat-form-field class="input">          
            <input 
            matInput
            placeholder="Mul Val"
            type="number"
            required 
            name="mulval"
            [value]="cloneSelectedNode.Mul"
            [(ngModel)]="cloneSelectedNode.Mul" 
            min="0"
            >
          </mat-form-field>
          <p class="paragraph-error  err" *ngIf="nodeFrm.controls.mulval?.status === 'INVALID'">
              This must be a integer or number with up to 2 decimal places!
          </p>
  
        </div>
      </div>
    </mat-card>
    <mat-card class="infomation-type">
        <div class="type"  >
            <p>Information attributes <span class="maximize"><i class="ra-icon ra-icon-maximize" (click)="showMore()"></i></span></p>
            <div class="checkbox">
                <ng-container 
                *ngFor="let item of typesOfCheckboxesAOI; let i = index">
                  <mat-checkbox
                  [ngModelOptions]="{standalone: true}"
                  color="primary"
                  [(ngModel)]="item.selected"
                  [checked]="item.selected"
                  (change)="updateInfoTypesAoi($event, item)"
                  >
                  <span class="infoName" >
                    {{item.Name}}
                  </span>
                  <input 
                  type="text" 
                  placeholder="Enter attr"
                  [(ngModel)]="item.Value" 
                  [value]="item.Value" 
                  (input)="inputNewValue(item, $event.target.value)"
                  [ngModelOptions]="{standalone: true}"
                  class="input-info-type" 
                  *ngIf="item.HasValue == 1">
                </mat-checkbox>
              </ng-container>
            </div>
          </div>
      <div class="radio-block">
        <p class="update">Updated by</p>
        <div class="group">
          <div class="radio">
              <mat-form-field class="update">
                <mat-select style="color:black" [(value)]="cloneSelectedNode.updateRadio" (selectionChange)="onChangeSelect($event)">
                  <mat-option *ngFor="let item of arrayOfRadioBtns2" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="group-2">
            <div>
              <mat-form-field class="UpdateRate input">          
                <input 
                matInput
                placeholder="UpdateRate"
                type="number" 
                name="updateRate" 
                pattern="^\d*[0-9.]\d*$"
                required
                [value]="cloneSelectedNode.updateRate" 
                [(ngModel)]="cloneSelectedNode.updateRate" 
                [attr.disabled]="inputDisable ? '' : null"
                min="0"
                (change)="getCurrentValue($event)"
                (keydown)="removeMinus($event, 1)" >
              </mat-form-field>
              <p class="paragraph-error updateRateError err" *ngIf="nodeFrm.controls.updateRate?.status === 'INVALID'">
                Required! Only positive or 0!
              </p>
            </div>
            <div>
              <mat-select [ngModelOptions]="{standalone: true}" (selectionChange)="getOptionTime($event)" placeholder="Type of time"
                [(ngModel)]="timeDefault">
                <mat-option *ngFor="let item of times" [value]="item">{{item}}</mat-option>
              </mat-select>
  
            </div>
          </div>
        </div>
        <div class="checkbox-block">
          <mat-checkbox color="primary" [(ngModel)]="cloneSelectedNode.hasTrigger" [ngModelOptions]="{standalone: true}">Has Trigger</mat-checkbox>
          <mat-checkbox color="primary" [(ngModel)]="cloneSelectedNode.hasChange" [ngModelOptions]="{standalone: true}">Has Change</mat-checkbox>
          <mat-checkbox color="primary" [(ngModel)]="cloneSelectedNode.isLogIn" [ngModelOptions]="{standalone: true}">Logging</mat-checkbox>
        </div>
      </div>
    </mat-card>
    <mat-card class="select" *ngIf="!cloneSelectedNode.isAoi">
      <div class="mat-select-center">
        <mat-form-field class="routineProgramselect">
          <mat-select 
          id="matSelect1"
          [disabled]="programNameDisabled"  
          name="sProgram" 
          placeholder="Programs" 
          style="color:black" 
          (selectionChange)="onSelectedProgram($event)"
          [(ngModel)]="cloneSelectedNode.Program" 
          required="isRequired ? '' : null">
            <mat-option  *ngFor="let item of programs" [value]="item.Name">{{item.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="nodeFrm.controls.sProgram?.status === 'INVALID' && nodeFrm.controls.sProgram?.touched" class="paragraph-error err">
          Required!
        </p>
      </div>
      <div class="mat-select-center">
        <mat-form-field class="routineProgramselect">
          <mat-select 
          [disabled]="routineDisabled" 
          placeholder="Routines" style="color:black" 
          [(ngModel)]="routineDefault" 
          name="routine" 
          required="isRequired ? '' : null">
            <mat-option *ngFor="let item of routines " [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="nodeFrm.controls.routine?.status === 'INVALID' && nodeFrm.controls.routine?.touched" class="paragraph-error err">
          Required!
        </p>
      </div>
      <div class="inputs">
        <div>
          <mat-form-field class="UpdateRate">          
            <input 
            matInput
            placeholder="Rung"
            type="number"
            pattern="^\d*[0-9]\d*$"
            name="rung" 
            [value]="cloneSelectedNode.rung" 
            [(ngModel)]="cloneSelectedNode.rung" 
            (keydown)="removeMinus($event, 2)"
            min="0"
            id="rung" 
            required="isRequired ? '' : null"
            [disabled]="!isRequired" >
          </mat-form-field>
          <p class="paragraph-error rungError err" *ngIf="nodeFrm.controls.rung?.status === 'INVALID'">
            Required!<br>Only positive or 0!
          </p>
        </div>
      </div>
    </mat-card>
  </form>

  <div class="over" *ngIf="showPopUpAttr ">
      <div class="pop">
        <p>Information attributes</p>
          <mat-card class="" >
            <p *ngIf="typesOfCheckboxesAOI.length == 0">No attributes!</p>
            <div class="mat-checkboxes">
              <ng-container 
                *ngFor="let item of typesOfCheckboxesAOI; let i = index">
                  <mat-checkbox
                  color="primary"
                  [(ngModel)]="item.selected"
                  [ngModelOptions]="{standalone: true}"
                  (change)="updateInfoTypesAoi($event, item)"
                  >
                  <div class="groupSpan">
                    <span class="popupNameCheckbox" >
                      {{item.Name}}
                    </span>
                    <span>
                      <input 
                      type="text" 
                      placeholder="Enter name of attribute" 
                      class="popUpInfoName" 
                      [(ngModel)]="item.Value" 
                      [ngModelOptions]="{standalone: true}"
                      [value]="item.Value" 
                      (input)="inputNewValue(item, $event.target.value)"
                      *ngIf="item.HasValue == 1">
                    </span>
                  </div>
                </mat-checkbox>
              </ng-container>
            </div>
            </mat-card>
        <button mat-raised-button color="primary" class="first-btn" (click)="closeModal1()">close</button>
      </div>
    </div>