@import './../theme.scss';
.first-block {
    display: flex;
    padding-top: 10px;
    padding-bottom: 0;
    height: 70px;
    .name {
        display: flex;
        flex-direction: column;
        width: 200px;
        p {
            &:first-child {
                @include label;
                padding-top: 8px;
            }
            height: 30px;
            padding-top: 0px;
            box-sizing: border-box;
            @include labelContent;
        }
    }
    .tagname {
        height: 80px;
        label {
            margin-right: 20px;
            height: 30px;
            padding-top: 8px;
            width: 110px;
            flex-shrink: 0;
            display: inline-block;
            @include label;
        }
        input {
            margin-right: 20px;
        }
    }
}
.infomation-type {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    @include labelContent;
    font-size: 14px;
    div.type {
        div.checkbox {
            border: 1px solid;
            width: 200px;
            padding: 10px;
            box-sizing: border-box;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            height: 100px;
            overflow-y: scroll;
            position: relative;
            padding-bottom: 0;
        }
    }
    .radio-block {
        margin-left: 35px;
        p.update {
            margin-bottom: 10px;
        }
        .group {
            display: flex;
            .radio {
                margin-right: 20px;
                mat-radio-group {
                    display: flex;
                    max-width: 335px;
                    flex-wrap: wrap;
                    mat-radio-button {
                        margin-bottom: 10px;
                        margin-right: 18px
                    }
                }
            }
            .group-2 {
                display: flex;
                div {
                    height: 30px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    input {
                        width: 75px;
                        margin-right: 20px;
                    }
                    mat-select {
                        width: 50px;
                    }
                }
            }
        }
    }
}
.select {
    display: flex;
    box-shadow: none;
    .mat-select-center {
        display: flex;
        align-items: center;
    }
    p {
        width: 200px;
    }
    mat-select {
        width: 200px;
        margin-right: 20px;
    }
    div {
        position: relative;
        p {
            position: absolute;
            top: 37px; // left: 20px;
        }
    }
    mat-select {
        width: 130px;
    }
    .inputs {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            position: relative;
            label {
                margin-right: 20px;
                margin-left: 20px;
                @include label;
            }
            input {
                margin-right: 20px;
                width: 70px;
            }
        }
        .add {
            margin-left: 20px;
        }
    }
}
.err {
    color: red;
}
mat-form-field.input {
    height: 40px;
}
.paragraph-error {
    font-size: 12px;
    max-width: 350px;
    position: absolute;
    
}
.paragraph-error.valueOfRadio {
    position: absolute;
}
.paragraph-error.routine {
    left: 223px;
    position: absolute;
    bottom: 8px;
}
.inputEnable {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.inputDisable {
    background: #cccccc;
}
.other-options {
    display: flex;
    height: 110px;
    padding-top: 10px;
    padding-bottom: 0;
}

.select-property {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 50px;
    mat-select {
        width: 150px;
    }
    label {
        padding-top: 14px;
        padding-bottom: 6px;
    }
    input {
        width: 110px;
    }
    p {
        position: absolute;
        bottom: 10px;
    }
}

.value-percent {
    display: flex;
    flex-direction: column;
    div {
        position: relative;
        &:first-child {
            margin-bottom: 30px;
        }
        label {
            padding-bottom: 5px;
            width: 130px;
        }
    }
}
form {
    padding-bottom: 40px;
}
mat-select.select {
    box-shadow: unset;
}
::ng-deep .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
    border-color: black !important;
}
::ng-deep   .mat-radio-button.mat-primary .mat-radio-inner-circle {
    background-color: black !important;
}
::ng-deep .mat-radio-outer-circle {
    border-color: black !important;
}
.tagname, .nameinmodel {
    position: relative;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
}
::ng-deep .mat-form-field-infix {
    padding: 0;
}
::ng-deep .mat-form-field-infix {
    padding: 0;
}
::ng-deep label.mat-form-field-label {
    @include label;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label{
    color: gray;
}
.ErrorTagNameInModelDint {
    // bottom: 27px;
}
::ng-deep .mat-checkbox-frame {
    border-color: black;
}
::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
    background-color: black;
}
.UpdateRate {
    max-width: 76px;
}
.updateRateError {
    bottom: -30px;
    font-weight: 400;
    max-width: 100px;
}
.dMulError {
    bottom: 0;
}
.rungError {
    bottom: -8px;
    max-width: 100px;
}
.select {
    padding-top: 10px;
    padding-bottom: 19px;
    box-shadow: unset;
}
form {
    padding-bottom: 40px;
}
.routineProgramselect {
    max-width: 130px;
    margin-right: 20px;
}
::ng-deep .mat-form-field.update .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border-top-width: 0px;
    padding-top: 11px;
}
.has-trigger-inline {
    margin-left: 20px;
    margin-top: 10px;
}
.input-info-type {
    position: absolute;
    right: 3px;
    height: 18px;
    max-width: 80px;
    border: unset;
    border-bottom: 1px solid rgba(0,0,0,.42);
    padding: 0;
    font: 400 16px/1.3 Roboto,"Helvetica Neue",sans-serif;
}
.input-info-type:focus {
    outline: none;
}
.infoName {
    display: inline-block;
    max-width: 65px;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    height: 100%;
    line-height: 24px;
}
::ng-deep .checkbox mat-checkbox .mat-checkbox-layout .mat-checkbox-label {
    line-height: 0;
}
.maximize {
    vertical-align: middle;
    i {
        font-size: 13px;
        margin-left: 15px;
        cursor: pointer;
    }
}
div.over {
    position: fixed; 
    z-index: 10; 
    padding: 30% 15% 15%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    box-sizing: border-box;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.pop {
    min-height: 100px;
    background: white;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: fixed;
    top: 12%;
    flex-direction: column;
}
.pop {
    mat-card {
        margin: 12px 0;
        font-size: 19px;
        max-height: 300px;
        overflow-y: auto;
        div.mat-checkboxes {
            display: flex;
            flex-direction: column;
            mat-checkbox {
                // width: 300px;
                // flex-shrink: 0;
                border-bottom: solid 1px #E4E4E4;
                padding: 5px;
            }
        }
    }
}
.popupNameCheckbox {
    display: inline-block;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.popUpInfoName {
    border: unset;
    border-bottom: 1px solid rgba(0,0,0,.42);
    padding: 0;
    font: 400 19px Roboto,"Helvetica Neue",sans-serif;
}
.popUpInfoName:focus {
    outline: none !important;
}
span.mat-checkbox-label {
    display: flex !important;
}
.groupSpan {
    display: flex;
}
.checkbox-block {
    display: flex;
    justify-content: space-between;
}
.tagname mat-form-field {
    width: 150px;
    margin-right: 50px;
}